{{>carparkheader}}

<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-lg">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <img src="{{park.image}}" alt="" class="img-rounded img-responsive">
            </div>
            <div class="col-sm-6 col-md-8">
                <h4>
                    {{park.userName}}
                </h4>
                <small><cite title="San Francisco, USA">{{park.address}} <i class="glyphicon glyphicon-map-marker">
                </i></cite></small>
                <p>

                    <i class="glyphicon glyphicon-envelope"></i> {{park.email}}
                    <br>
                    <i class="glyphicon glyphicon-phone"></i> {{park.number}}


            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6" style="font-family: 'Century Gothic'">
    <div class= "col-lg-12 ">
        <p style=" font-family: 'Century Gothic';font-size: x-large;color:blue">Count the Number of Vehical in and Out</p>
    </div>
    <div class= "col-lg-12 ">
        <p style=" font-family: 'Century Gothic';font-size: x-large">Capacity left : {{reserved}}</p>
        <p id="cap" ></p>
    </div>
    <div class= "col-lg-12 col-lg-offset-3" style="align-content: center">
        <a href="/users/increment" class="btn btn-primary pull-left" style="height: 40px; width:40%;text-align: center"  role="button">Increment</a>
    </div>
    <div class= "col-lg-12 col-lg-offset-3" style="margin-top: 20px">
        <a href="/users/decrement" class="btn btn-danger pull-left" style="height: 40px; width: 40%" role="button">Decrement</a>
    </div>


</div>
<div class="container">

<table style="width:100%; font-family: 'Century Gothic'; margin-top: 20%">
  <tr>
    <th>Email</th>
    <th>Month</th>
    <th>Date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Accept</th>
  </tr>
  {{# each reservations}}

                  {{# each this}}


                      <tr>
                      <td>{{this.userEmail}} </td>
                      <td>{{this.month}}</td>
                      <td>{{this.date}}</td>
                      <td>{{this.startTime}}</td>
                      <td>{{this.endTime}}</td>
                      <td><a href="#" class="btn btn-primary pull-left" style="width: 30%;height: 20%" role="button">Accept</a></td>
                      </tr>


                  {{/each}}

          {{/each}}
</table>
</div>
